.home-container {
  text-align: center;
  padding: 40px 30px;
  background: rgba(11, 1, 1, 0);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 19, 23, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  background: rgba(230, 213, 213, 0.9);
  width: 150vh;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(148, 101, 101, 0.18);
  margin-top: 20px;
}

.home-header {
  font-size: 2rem;
  color: #011001;
}

.home-description {
  font-size: 1.2rem;
  color: #1d0808;
  margin-top: 10px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1px 20px;
  background-color: #ecf1ec;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 150px;
}